/* Colors */
/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Colors */
:root {
  --color-black: #000000;
  --color-off-white: #f5f5f5;
  --color-lightest-grey: #f9f9f9;
  --color-light-grey: #d7d7d7;
  --color-grey: #797979;
  --color-dark-grey: #6e6e6e;
  --color-darkest-grey: #3f3f3f;
  --color-white: #ffffff;
  --color-pink: #f4e9f1;
  --color-yellow: #f8d077;
  --color-light-red: #fcd6d5;
  --color-green: #e5f3dc;
  --color-purple: #e3d0df;
  --color-dark: #292929;
  --color-light: var(--color-white);
}

.dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}

/* General */
body {
  font-size: 18px;
  line-height: 30px;
  color: var(--color-black);
  background-color: var(--color-light);
}

.hidden {
  display: none;
}

/* Main layout & sidebar */
.grid {
  height: calc(100vh);
  width: 100%;
  display: grid;
  grid-template-rows: 70px 1fr;
  margin: 0px;
  overflow: scroll;
}

.with-sidebar {
  grid-template-areas:
    'head side'
    'main side';
  grid-template-columns: 1fr 500px;
}

.without-sidebar {
  grid-template-areas:
    'head'
    'main';
  grid-template-columns: 1fr;
}

aside {
  grid-area: side;
  background-color: var(--color-light);
  border-left: 1px solid var(--color-light-grey);
  position: relative;
  height: 100vh;
  overflow: scroll;
}

#close-sidebar {
  color: var(--color-darkest-grey);
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
}

/* Header toolbar */
h1,
h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 35px;
}

header {
  grid-area: head;
  height: 38px;
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
}

header a {
  color: unset;
  text-decoration: none;
}

header,
main {
  margin-left: 30px;
  margin-right: 30px;
}

/* Buttons */
button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 10px;
  gap: 18px;
  height: 38px;
  border-radius: 6px;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  background-color: var(--color-grey);
  cursor: unset;
}

.icon-button {
  padding: 0px;
  margin: 0px;
  border-radius: 100%;
  background-color: var(--color-light);
  color: var(--color-darkest-grey);
}

/* Avatars */

.avatar {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
}

.avatar img {
  border-radius: 100%;
}

/* Controls */
#controls {
  margin: 0px 25px;
  overflow-y: visible;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-grow: 1;
  z-index: 1;
}

#controls > div {
  height: 38px;
  display: flex;
  gap: 10px;
}

.select {
  width: 153px;
  color: var(--color-dark-grey);
  background-color: var(--color-white);
}

.select-legend,
.select-option {
  height: 30px;
  padding: 4px 10px;
  display: flex;
  gap: 1em;
  align-items: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-light-grey);
  border-bottom: 0px;
}

.select-legend {
  justify-content: space-between;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.select > div:not(.hidden):last-of-type {
  border-bottom: 1px solid var(--color-light-grey);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* Task list */
.task-list {
  grid-area: main;
  overflow: scroll;
}

.task-list-header {
  position: sticky;
  top: 0px;
  left: 0px;
  background-color: var(--color-light);
}

.task-list-header,
.task-listing {
  display: grid;
  grid-template-columns: 50px 1fr 125px 100px 50px 75px;
  column-gap: 25px;
  padding: 20px;
}

.task-list-header,
.task-listing-owner,
.task-listing-status {
  font-size: 14px;
  line-height: 17px;
}

.task-listing {
  border-top: 1px solid var(--color-light-grey);
  color: inherit;
  text-decoration: none;
}

.selected-task {
  background-color: var(--color-pink);
}

.task-listing > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.task-listing-owner {
  overflow-x: hidden;
}

/* Task details in sidebar */

#task-details {
  display: flex;
  flex-direction: column;
}

#task-details > div {
  padding: 30px;
  border-top: 1px solid var(--color-light-grey);
}

#task-details > div:first-child {
  border-top: 0px;
}

#task-header {
  position: relative;
  top: 0px;
  padding-bottom: 28px;
  padding-right: 30px;
}

#task-details input:not([type='radio']) {
  display: inline;
  background-color: var(--color-lightest-grey);
  border: 1px solid var(--color-light-grey);
  border-radius: 6px;
  font-size: 29px;
  line-height: 35px;
}

#task-number {
  margin-right: 24px;
}

#task-header h2 span:not(.ghost) {
  color: #475569;
}

#task-header h2 {
  font-weight: normal;
  font-size: 29px;
}

#task-meta {
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#task-details h4 {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  width: 100px;
}

.task-meta-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 24px;
  height: 38px;
}

.task-meta-row > div {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 10px;
  position: relative;
}

#task-header,
#task-description {
  cursor: pointer;
}

#task-description {
  margin-bottom: 19px;
}

#task-description,
#task-description textarea {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

#task-description span {
  font-style: italic;
  color: var(--color-grey);
}

#task-description textarea {
  font-family: inherit;
  background-color: var(--color-lightest-grey);
  border: 1px solid var(--color-light-grey);
  border-radius: 6px;
  resize: none;
  padding: 6px 19px 14px 10px;
  width: calc(100% - 19px);
  margin-right: 19px;
}

/* Task owner & status */

#owner-select,
#status-select {
  position: relative;
  z-index: 3;
}

#owner-select > div {
  display: flex;
  flex-direction: column;
}

#owner-button {
  display: flex;
  gap: 10px;
  justify-content: left;
  font-size: inherit;
  background-color: var(--color-light);
}

.owner-option {
  background-color: var(--color-light);
  display: flex;
  align-items: center;
  padding: 3px 12px;
  position: relative;
  top: 0;
}

.owner-option input {
  position: absolute;
  opacity: 0;
}

.status-pill {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 3px 12px;
  border: 2px solid var(--color-white);
  border-radius: 40px;
  flex-grow: 0;
}

.status-pill-editable {
  z-index: 2;
}

.status-pill-editable:hover {
  cursor: pointer;
}

.status-pill-editable > input {
  z-index: 3;
}

.status-pill-editable > input,
.status-pill-editable > input:checked {
  opacity: 0;
  position: absolute;
}

.status-pill-0 {
  background-color: var(--color-purple);
}

.status-pill-1 {
  background-color: var(--color-yellow);
}

.status-pill-2 {
  background-color: var(--color-green);
}

.status-pill-3 {
  background-color: var(--color-light-red);
}

/* Files */

#files {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#files-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

#file-upload {
  font-size: 18px;
  line-height: 30px;
  background-color: var(--color-light);
  color: var(--color-dark);
  border: 1px solid var(--color-light-grey);
}

#file-previews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.file-preview {
  position: relative;
  width: 30%;
  height: 115px;
  flex-grow: 0;
}

.file-preview:nth-child(-n + 2) {
  width: 40%;
  flex-grow: 1;
}

.file-preview:nth-child(2n + 4) {
  flex-grow: 1;
}

.file-preview:last-child {
  flex-grow: 1;
}

.file-preview > * {
  border-radius: 8px;
  border: 1px solid var(--color-light-grey);
}

#files input {
  position: fixed;
  opacity: 0;
}

/* Comments */

#comments,
#comment-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment-listing,
#new-comment {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  gap: 10px;
}

.comment-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  line-height: 17px;
  max-width: calc(100% - 40px);
}

.comment-info span {
  color: var(--color-grey);
  font-size: 12px;
  margin-right: 10px;
}

.comment-info p {
  word-wrap: break-word;
  white-space: pre-wrap;
}

#new-comment {
  color: var(--color-grey);
}

#new-comment-text {
  font-family: inherit;
  background-color: var(--color-lightest-grey);
  flex-grow: 2;
  padding: 11px 17px;
  border: 1px solid var(--color-light-grey);
  border-radius: 6px;
  resize: none;
}

.more-button {
  color: var(--color-dark);
  font-size: 14px;
  line-height: 17px;
  background-color: var(--color-light);
  border: 1px solid var(--color-light-grey);
  height: 24px;
  padding: 2px 11px;
}

/* Loading ghosts */

.ghost {
  color: #e2e8f0;
  background-color: #e2e8f0;
  border: 0px;
}

.avatar-ghost {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.null-avatar > div {
  background-color: var(--color-light-grey);
}

/* TODO cleanup after redesign



.badge {
  background-color: #212529;
  color: #ffffff;
  border-radius: 6px;
  font-weight: bold;
  padding: 4px 8px 4px 8px;
}

ul {
  margin: 8px;
  border-radius: 8px;
  border: solid 1px lightgray;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

ul:empty {
  display: none;
}

.files {
  border: 0px;
  box-shadow: none;
}

li {
  display: flex;
  justify-content: flex-start;
  padding: 8px 16px 8px 16px;
  border-bottom: solid 1px lightgray;
  font-size: 16px;
}

.files li {
  border-radius: 8px;
  border: solid 1px lightgray;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-bottom: 4px;
}


.comments li:last-child {
  border: 0;
}

li span:nth-child(1) {
  margin-right: 8px;
  word-break: break-word;
}
li span:nth-child(2) {
  margin-left: auto;
  margin-right: 4px;
  white-space: nowrap;
}
li span:nth-child(3) {
  color: #6c757d;
  white-space: nowrap;
  min-width: 4ch;
  text-align: right;
}

li a {
  font-weight: bold;
}

form {
  display: flex;
  justify-content: center;
}

input:not([type]):not(.ghost), textarea, select {
  padding: 6px 12px 6px 12px;
  color: rgb(33, 37, 41);
  border: solid 1px rgb(206, 212, 218);
  border-radius: 2px;
  font-size: 16px;
  font-family: inherit;
}

input[type='submit'],
button:not(.icon-button), .pill-button {
  margin-left: 4px;
  font-size: 16px;
  font-weight: bold;
}

input[type='submit'], button:not(.pill-button, .icon-button) {
  padding: 12px 24px 12px 24px;
}

input[type='submit']:not(.pill-button), button:not(.pill-button) {
  border-radius: 2px;
}

input[type='submit']:not(.ghost), button:not(.ghost), .pill-button {
  color: white;
  background-color:  #0F172A;
  border: solid 1px #0F172A;
}

input[type='submit']:not(.ghost):hover,
button:not(.ghost):hover {
  color:  #0F172A;
  border: solid 1px #0F172A;
  background-color: white;
}

input[type='submit']:disabled:not(.ghost),
button:disabled:not(.ghost) {
  color: white;
  border-color: rgb(143, 148, 153);
  background-color:  rgb(143, 148, 153);
  cursor: not-allowed;
}

.btn-login {
  min-width: 10ch;
}

input[type='checkbox'] {
  margin-right: 8px;
}



img {
  border-radius: 100%;
}

.owner-details {
  display: flex;
  gap: 10px;
  align-items: center;
}



#filters > label {
  margin: 0px 16px 0px 8px;
}

input[type="checkbox"] {
  accent-color: #0F172A;
}


#search {
  margin: 0px auto;
}


#search > input {
  border: 1px solid #E2E8F0;
  width: 713px;
}

.pill-button {
  border-radius: 100px;
  padding: 4px 12px 4px 12px;
}

button:is(.icon-button) {
  background-color: #ffffff;
  border: 0px;
  margin: 2px 4px;
}

button:is(.icon-button):hover {
  border: 0px;
  cursor: pointer;
}

#new::before {
  content: "+";
  margin-right: 8px;
}

#showing {
  font-weight: 400;
  color: #94A3B8;
  padding-right: 16px;
}

table {
  width: 95%;
  text-align: left;
  margin: 0px auto;
  border-spacing: 0;
}

tbody {
  color: #475569;
}

th, td {
  padding: 8px 16px 8px 16px;
}

th:nth-child(2) {
  min-width: 70%;
}

th:nth-child(4) {
  min-width: 15%;
}

tr {
  height: 3.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

tr:hover {
  background-color:  #E2E8F0;
}


#column-headers:hover {
  background-color: #ffffff;
  cursor: pointer;
}

tr:hover a {
  color: #0F172A;
}

#task-details {
  width: 90%;
  margin: 24px auto;
}

.error {
  border: 1px solid red;
  padding: 8px 16px;
}

.error a {
  text-decoration: underline;
}

.error > p, .error > pre {
  margin-top: 2em;
}

.error pre {
  color: red;
  font-weight: bold;

} */
