/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
}

body {
  font-family: system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', helvetica,
    sans-serif;
  font-size: 16px;
  color:  #0F172A;

}

main {
  padding-top: 1em;
  padding-bottom: 1em;
  width: min(900px, 95vw);
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
}


.badge {
  background-color: #212529;
  color: #ffffff;
  border-radius: 6px;
  font-weight: bold;
  padding: 4px 8px 4px 8px;
}

ul {
  margin: 8px;
  border-radius: 8px;
  border: solid 1px lightgray;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

ul:empty {
  display: none;
}

li {
  display: flex;
  justify-content: flex-start;
  padding: 8px 16px 8px 16px;
  border-bottom: solid 1px lightgray;
  font-size: 16px;
}

li:last-child {
  border: 0;
}

li span:nth-child(1) {
  font-weight: bold;
  margin-right: 4px;
  white-space: nowrap;
}
li span:nth-child(2) {
  margin-right: 4px;
  word-break: break-word;
}
li span:nth-child(3) {
  color: #6c757d;
  margin-left: auto;
  white-space: nowrap;
}

form {
  display: flex;
  justify-content: center;
}

input:not([type]), textarea, select {
  padding: 6px 12px 6px 12px;
  color: rgb(33, 37, 41);
  border: solid 1px rgb(206, 212, 218);
  border-radius: 2px;
  font-size: 16px;
  font-family: inherit;
}

input[type='submit'],
button {
  margin-left: 4px;
  color: white;
  padding: 12px 24px 12px 24px;
  border-radius: 2px;
  font-size: 16px;
  background-color:  #0F172A;
  border: solid 1px #0F172A;
  font-weight: bold;

}

input[type='submit']:hover,
button:hover {
  color:  #0F172A;
  border: solid 1px #0F172A;
  background-color: white;
}

input[type='submit']:disabled,
button:disabled {
  color: white;
  border-color: rgb(143, 148, 153);
  background-color:  rgb(143, 148, 153);
  cursor: not-allowed;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.avatar {
  font-size: 2em;
  text-align: center;
  color: white;
  background-color: green;
  border-radius: 100%;
  margin: 0px 10px
  
}

#controls {
  width: 90%;
  margin: 24px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

#filters > label {
  margin: 0px 16px 0px 8px;
}

input[type="checkbox"] {
  accent-color: #0F172A;
}


#search {
  margin: 0px auto;
}


#search > input {
  border: 1px solid #E2E8F0;
  width: 713px;
}

.pill-button {
  border-radius: 100px;
  padding: 4px 12px 4px 12px;
}

#new::before {
  content: "+";
  margin-right: 8px;
}

#showing {
  font-weight: 400;
  color: #94A3B8;
  padding-right: 16px;
}

table {
  width: 95%;
  text-align: left;
  margin: 0px auto;
}

tbody {
  color: #475569;
}

th, td {
  padding: 8px 16px 8px 16px;
}

th:nth-child(2) {
  min-width: 70%;
}

th:nth-child(4) {
  min-width: 15%;
}

a {
  text-decoration: none;
  color: inherit;
}

tr:hover a {
  color: #0F172A;
}

#task-details {
  width: 90%;
  margin: 24px auto;
}

#task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 24px;
}

#task-header h2 span {
  color: #475569;
  padding-right: 24px;
}

#task-header h2 {
  font-weight: normal;
  font-size: 2em;
}

#task-info {
  display: grid;
  grid-template-columns: 20% 1fr;
  margin-top: 24px;
  margin-bottom: 24px;
  grid-gap: 24px;
}
